# Node.js
node_modules/
npm-debug.log*

# Cordova/PhoneGap
platforms/
plugins/
merges/

# Build artifacts (Binarki - zakazane wg instrukcji)
*.apk
*.zip
*.exe
*.ipa

# System files
.DS_Store
Thumbs.db

# IDE - PhpStorm/WebStorm/IntelliJ
.idea/
*.iml
*.iws

# Electron local files
res/electron/settings.json